@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@theme {
  --color-primary : #1B56FD;
  --color-secondry : #0118D8;
  --font-urbanist :  "Urbanist", sans-serif ;
  --color-bg-primary: #cecadccd
}
.container{
  background-image: url(./service.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;
}


